{% include 'singlepage/header.html' %}
{% load static %}
{% load crispy_forms_tags %}

<div class="col-lg-5 my-auto text-center">
    <span>Vendor Management System</span>
</div>
<div class="col-lg-7">
    <div class="card-header">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Registrasi Vendor</h1>
        </div>
    </div>
    <div class="card-body">
        <form action="/front/register" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{ form.password1|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-user btn-block" value="Daftarkan Account">
        </form>
        <hr>
        {% include 'singlepage/front-links.html' %}

</div>
{% include 'singlepage/footer.html' %}